<div class="container">
  <div class="pt-5">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h3>All Products</h3>
          </div>

          <div class="col-6 text-end">
            <button class="btn btn-primary" (click)="createProductRequest()">
              Create Product
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Brand</th>
              <th scope="col">Category</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productList; index as ind">
              <th scope="row">{{ ind + 1 }}</th>
              <td>{{ item.brand }}</td>
              <td>{{ item.category }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.price | currency: "USD" }}</td>
              <td>
                <button
                  class="btn btn-primary me-1"
                  (click)="editProductRequest(item)"
                >
                  Edit
                </button>
                <button
                  class="btn btn-danger"
                  (click)="deleteProduct(item, ind)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-product
  [product]="selectedProduct"
  (save)="saveProductWatcher($event)"
></app-product>
